---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container">
      <h1>404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">Šio puslapio neradome.</p>
      <a class="button" href="/">
        <Icon name="lucide:undo-2" class="mr-2" />
        Grįžti į pradžią
      </a>
    </div>
  </section>
</DefaultLayout>

