---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import ExternalLink from '@components/ExternalLink.astro'
---

<DefaultLayout
  title="DUK"
  description="Greita informacija apie medicinos olimpiadą."
>
  <PageHeader title="DUK" subtitle="Greita informacija apie medicinos olimpiadą.<br>Jei turite daugiau klausimų, nedvejodami kreipkitės paštu: <a href='mailto:litmo@olimpiados.lt'>litmo@olimpiados.lt</a>" bgType="bordered" />
  <section class="my-12">
    <div class="container">
      <Accordion>
        <AccordionItem name="exclusive" variant="chevron" title="Ar galiu dalyvauti, jei esu jaunesnėje nei 9 klasėje?">
          <p>
            Taip, tačiau užduočių sunkumas ir sprendimo tempas yra pritaikyti 9-12 kl. moksleiviams.
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" variant="chevron" title="Jei pateksiu į antrąjį etapą, ar turėsiu atvykti savo lėšomis?">
          <p>
            Ne, patekus į antrąjį etapą, dalyvių maitinimas ir transportas iki renginio vietos bus finansuojamas renginio organizatorių.
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" variant="chevron" title="Ar bus atvirų klausimų?">
          <p>
            Tik <b>antrame</b> LitMO etape.
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" variant="chevron" title="Ar tam, kad dalyvaut, galiu registruotis pats, ar reikia, kad užregistruotų mokykla?">
          <p>
            Registracija yra savarankiška ir moksleiviai gali registruotis patys <ExternalLink href="https://forms.gle/68un9hhzhYMXGumu8">čia.</ExternalLink>
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" variant="chevron" title="Ar klausimai labai sunkūs?">
          <p>
            Kadangi LitMO yra medicinos žinių olimpiada, užduotys yra medicinos krypties, bet itin specifinių žinių nereikalauja.<span class="block"></span>Tačiau rekomenduojame papildomai pasimokyti iš nurodytų vadovėlių (žr. įrašą ,,Kaip pasiruošti LitMO”)<span/>
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </section>
</DefaultLayout>