---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import ExternalLink from '@components/ExternalLink.astro'
import SponsorGroup from '@components/SponsorGroup.astro'

import amgen from '@assets/images/sponsors/sponsor_amgen.png'
import abbvie from '@assets/images/sponsors/sponsor_abbvie.png'
import vuMf from '@assets/images/sponsors/sponsor_VU_MF.png'
import abromiskiu from '@assets/images/sponsors/sponsor_abromiskiu.png'
import sapiens from '@assets/images/sponsors/sponsor_sapiens.png'
import uk from '@assets/images/sponsors/sponsor_UK.png'
import lgmoa from '@assets/images/sponsors/sponsor_lgmoa.png'
import biosa from '@assets/images/sponsors/sponsor_biosa.png'
import energetikas from '@assets/images/sponsors/sponsor_energetikas.png'
import ts from '@assets/images/sponsors/sponsor_TS.png'

const sponsorsList = [
  { href: 'https://www.amgen.com/', img: amgen, alt: 'Amgen', tier: 'Generaliniai rėmėjai' },
  { href: 'https://www.abbvie.com/', img: abbvie, alt: 'AbbVie', tier: 'Generaliniai rėmėjai' },
  { href: 'https://www.mf.vu.lt/', img: vuMf, alt: 'Vilniaus universiteto Medicinos fakultetas', tier: 'Renginio partneriai' },
  { href: 'https://www.abromiskes.lt/', img: abromiskiu, alt: 'Abromiškių reabilitacijos ligoninė', tier: 'Rėmėjai' },
  { href: 'https://www.sapiens.lt/', img: sapiens, alt: 'Sapiens', tier: 'Rėmėjai' },
  { href: 'https://www.utenos-kolegija.lt/', img: uk, alt: 'Utenos kolegija', tier: 'Rėmėjai' },
  { href: 'https://www.energetikas.lt/', img: energetikas, alt: 'Sveikatos centras Energetikas', tier: 'Rėmėjai' },
  { href: 'https://www.tulpe.lt/', img: ts, alt: 'Tulpės sanatorija', tier: 'Rėmėjai' },
  { href: 'https://lgmoa.lt/', img: lgmoa, alt: 'Lietuvos gamtos mokslų olimpiadų asociacija', tier: 'Renginio partneriai' },
  { href: 'https://olimpiados.lt/straipsniai/prasideda-19-asis-biologu-sandraugos-sezonas', img: biosa, alt: 'Biosa - Biologų sandrauga', tier: 'Informaciniai partneriai' },
]
---
<DefaultLayout title="Pradžia">
  <Hero />
  <section class="my-24">
    <div class="container">
      <h2 class="mb-12 text-6xl">Dalyvavimas</h2>
      <p class="mb-6 text-2xl">
        Pirmasis etapas vyks nuotoliniu būdu <b>spalio 25 d.</b> Registracija jau atidaryta ir nuorodą galite rasti
        <ExternalLink href="https://forms.gle/68un9hhzhYMXGumu8">čia.</ExternalLink>.
      </p>
      <p class="mb-6 text-2xl">
        Užduočių sunkumas ir sprendimo tempas yra pritaikyti 9-12 kl. moksleiviams, tačiau gali dalyvauti ir žemesnėje
        nei 9 klasėje esantys moksleiviai.
      </p>
      <p class="text-2xl">
        Antrojo etapo, dalyvių maitinimas ir transportas iki renginio vietos bus finansuojamas renginio organizatorių.
      </p>
    </div>
    <section class="my-24">
      <SponsorGroup sponsors={sponsorsList} />
      <div class="my-8 container">
        <p class="text-2xl">
          Lietuvos moksleivių medicinos olimpiados organizavimas reikalauja finansinių bei kitų resursų ir išteklių, tad
          ieškome partnerių, kurie galėtų prisidėti prie šio renginio paramos.
        </p>
        <p class="text-2xl">
          Jei norėtumėte paremti LitMO, kviečiame rašyti į <span class="text-gradient">litmo@olimpiados.lt</span>
        </p>
      </div>

      <style>
        .text-gradient {
          background: linear-gradient(
            315deg,
            light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
            light-dark(var(--color-secondary-300), var(--color-primary-200))
          );
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      </style>
    </section>
  </section>
</DefaultLayout>
